<div class="container">
  <div class="intro-message">
    <div class="main">
      <div class="sign-in">
        <%= render "partials/flashMessages" %>
        <h2>Sign In</h2>
        <br>
        <%= form_for @user, url: session_path do |f| %>
          <%= f.text_field :username, placeholder: 'Username' %>
          <br>
          <%= f.password_field :password, placeholder: 'Password' %>
          <br>
          <%= f.submit 'Login' %>
        <% end %>
        <br>
        <%= link_to "Register", {controller: "users", action: "new"} %>
      </div>
    </div>
  </div>
</div>
