<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <%= link_to "PLNT MGMT", {controller: "plants", action: "dashboard"}, class: "nav-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if current_user %>
              <li class="nav-item">
                <%= link_to "Logout", {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Dashboard", {controller: "plants", action: "dashboard"}, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Profile", {controller: "users", action: "index"}, class: "nav-link" %>
              </li>
            <% elsif %>
              <li class="nav-item">
                <%= link_to "Login", {controller: "sessions", action: "new"}, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "About", {controller: "plants", action: "index"}, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
