<div class="container">
  <div class="user-content">
    <div class="main">
      <div class="container-a update">
        <h1>Your Profile</h1>
        <br>
        <h3>User Name <span class="span"><%= current_user.username %></span></h3>
        <h3>Name <span class="span"><%= current_user.name %></span></h3>
        <h3>Email <span class="span"><%= current_user.email %></span></h3>
        <h3>Phone Number <span class="span"><%= current_user.phone_number %></span></h3>
        <h3>Total Plants <span class="span"><%= current_user.plants.count %></span></h3>
        <br>
        <%= link_to 'Edit Profile', edit_user_path(@user), method: :edit, class: "event-new" %>
      </div>
    </div>
  </div>
</div>
