<div class="container">
  <div class="intro-message">
    <div>
      <h2>Plants By Type</h2>
      <div>
        <%= link_to 'Moisture Loving', plants_wet_path %>
        <%= @wetCount %>
      </div>
      <div>
        <%= link_to 'Evenly Moist', plants_medium_path %>
        <%= @mediumCount %>
      </div>
      <div>
        <%= link_to 'Dry Adapted', plants_dry_path %>
        <%= @dryCount %>
      </div>
      <br>
      <%= link_to 'Add New Plant', new_plant_path %>
    </div>
  </div>
</div>
