<div class="container">
  <div class="user-content">
    <h2>Add a Plant</h2>

    <%= form_for @plant do |f| %>
      <%= f.label("Plant Name") %>
      <br>
      <%= f.text_field :name, placeholder: "name" %>
      <br>
      <%= f.label("Water Level") %>
      <br>
      <%= f.select :category, options_for_select(@categories), include_blank: true %>
      <br>
      <%= f.label("Size") %>
      <br>
      <%= f.select :size, options_for_select(@sizes), include_blank: true %>
      <br>
      <%= f.label("Condition") %>
      <br>
      <%= f.select :condition, options_for_select(@conditions), include_blank: true %>
      <br>
      <br>
      <%= f.submit 'Add' %>
    <% end %>
  </div>
</div>
